# MySQL 配置文件
# 設置預設字符集為 utf8mb4

[mysqld]
# 設置伺服器預設字符集
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

# 設置客戶端字符集
init_connect = 'SET NAMES utf8mb4'

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
